# {{ title }} {{ version }}

Base URL: `{% if base_url %}{{ base_url }}{% else %}_(none declared)_{% endif %}`

## Contents
{% for group in operations_by_tag %}

### {{ group.tag }}{{ group.toc }}
{% endfor %}
{% for group in operations_by_tag %}

## {{ group.tag }}{{ group.sections }}
{% endfor %}
