{
  "openapi":"3.2.0",
  "info":{"title":"Credential environment controls","version":"1"},
  "servers":[{"url":"https://openrouter.ai/api/v1"}],
  "components":{"securitySchemes":{
    "apiKey":{"type":"http","scheme":"bearer"},
    "headerKey":{"type":"apiKey","in":"header","name":"X-Api-Key"},
    "queryKey":{"type":"apiKey","in":"query","name":"api_key"},
    "cookieKey":{"type":"apiKey","in":"cookie","name":"api_key"},
    "aliasKey":{"$ref":"#/components/securitySchemes/apiKey"}
  }},
  "paths":{
    "/key":{"get":{"operationId":"getCurrentKey","security":[{"apiKey":[]}],"responses":{"204":{"description":"authorized"}}}},
    "/credits":{"get":{"operationId":"getCredits","security":[{"apiKey":[]}],"responses":{"204":{"description":"authorized"}}}},
    "/header":{"get":{"operationId":"headerOnly","security":[{"headerKey":[]}],"responses":{"204":{"description":"authorized"}}}},
    "/query":{"get":{"operationId":"queryOnly","security":[{"queryKey":[]}],"responses":{"204":{"description":"authorized"}}}},
    "/cookie":{"get":{"operationId":"cookieOnly","security":[{"cookieKey":[]}],"responses":{"204":{"description":"authorized"}}}},
    "/or":{"get":{"operationId":"alternativeAuth","security":[{"apiKey":[]},{"headerKey":[]}],"responses":{"204":{"description":"authorized"}}}},
    "/and":{"get":{"operationId":"conjunctiveAuth","security":[{"apiKey":[],"headerKey":[]}],"responses":{"204":{"description":"authorized"}}}},
    "/optional":{"get":{"operationId":"optionalAuth","security":[{"apiKey":[]},{}],"responses":{"204":{"description":"authorized or anonymous"}}}},
    "/anonymous":{"get":{"operationId":"anonymous","security":[],"responses":{"204":{"description":"anonymous"}}}},
    "/alias":{"get":{"operationId":"aliasAuth","security":[{"aliasKey":[]}],"responses":{"204":{"description":"separate scheme declaration"}}}}
  }
}
